<!DOCTYPE html>
<html>
<head>
  	<title>svar</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>



	</head>
	<body>

	<div class="container">

		<div id="topdiv">
	  		<div id="logo">
	  			<img src="/VKloggaHead.png">
	  		</div>
		</div>

		<div id="cat-head">

			<div id="category">
				<style type="text/css">
					#category {
						background-color: <%= @hex %>;
					}
				</style>
				<p><%= @cat %></p>
			</div>

			<div id="progress-dots">
	          <div id="ans7" class="progress-dot"></div>
	          <div id="ans6" class="progress-dot"></div>
	          <div id="ans5" class="progress-dot"></div>
	          <div id="ans4" class="progress-dot"></div>
	          <div id="ans3" class="progress-dot"></div>
	          <div id="ans2" class="progress-dot"></div>
	          <div id="ans1" class="progress-dot"></div>
        	</div>
		</div>

		<div id ="question-answer" class = "question">


	        <div class="answer-col">
	          <div class="summary">
	          	  <div id="display-answer">
	          		<% if @ans==@c_answer%>
	    				<h3> Rätt svar </h3>
	    				    <% $result_arr.push(1) %>
	    			<% else %>
	    				<h3> Fel svar </h3>
	    				    <% $result_arr.push(0) %>
	    			<% end %>
	        	</div>
	            <h3 id="title"> <%= @title  %> </h3>
	            <div id="summary-text">
 					<p> <%= @summary  %> </p>
	            </div>


	              <div id="btn-save-aticle">
	                <a href="<%= @url %>" target="_blank"><button id="article-btn" class="btn btn-default">LÄS NU</button></a>
	                <button id="save-btn" class="btn btn-default" onclick="saveArticle(this.id)"><span id = "star" class="glyphicon glyphicon-star"></span> SPARA</button>
	              </div>
	          </div>
	        </div>
	        <div id="summary-img">
	          <img src="<%=@image %>">
	        </div>

	  </div>


		<div id class ="answers">

			 <% $answer_array.each do |answer| %>
			 	<% if answer === @c_answer %>
      				<button class ="btn btn-default btn-after" style= "background-color:#4CAF50 "><%= answer%></button>
      			<% elsif answer != @c_answer && @ans===answer %>
      				<button class ="btn btn-default btn-after" style= " background-color:#dceaec"><%= answer%></button>
      			<% else %>
      				<button class ="btn btn-default btn-after"><%= answer%></button>
      			<% end %>
    		<% end %>

			<% if $finish == true %>
  				<%= link_to json_read_result_path, {:id => "btn-next-q", :class => "btn btn-default"} do %>
					<div id="arrow">SE RESULTAT</div>
					<p>Se resultat</p>
				<% end %>
			<% else %>
				<%= link_to json_reads_path, {:id => "btn-next-q", :class => "btn btn-default"} do %>
					<div id="arrow">GÅ VIDARE</div>
					<p>Nästa fråga</p>
				<% end %>
			<% end %>
	 	</div>


	<div>

	<%= javascript_tag do %>
  		window.id = "<%=@id %>";
  		window.randn = "<%=$randno %>";
  		window.ans = "<%=@ans %>";
  		window.j = "<%=$i %>";
	<% end %>


	<script>

		var click = false


		function saveArticle(savebutton){

			if (!click) {
				var button = document.getElementById(savebutton)
				button.style.color = "#007bc4"
				button.style.opacity = "1"
				$(button).html($(button).html().replace('SPARA','SPARAD'));
				click = true
			} else {
				var button = document.getElementById(savebutton)
				button.style.color = "black"
				button.style.opacity = "0.6"
				$(button).html($(button).html().replace('SPARAD','SPARA'));
				click = false
			}
		}

    $( document ).ready(function() {
                var progressdots = document.getElementsByClassName("progress-dot")
                for (var i = 0; i < j; i++)
                    progressdots[6-i].style.backgroundColor = "#007bc4"
                });
    




	</script>







</body>
</html>
